@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@100;700&display=swap');


body{
    font-size: 18px;
    overflow-x: hidden;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* CONFIGURAÇÕES DA HEADER, MENU E BACKGROUND IMAGE PARA DESKTOP*/

header{
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    color:white;
    background-position: center;
}

.header-line{
    display: flex;
    justify-content: space-between;
}

.header-menu-logo h3{
    font-size: 2rem;
    padding: 7px;
    margin-left: 30px;
    margin-top: 20px;
}

.menu-mobile{
    display: none;
}

.header-menu-items{
    display: flex;
    gap:50px;
    padding: 15px;
    margin-right: 40px;
    font-size: 1rem;
    font-style: normal;
    margin-top: 20px;
}

.header-menu-items li{
    opacity: 80%;
}
.header-menu-items li:hover{
    cursor: pointer;
    opacity: 100%;
}

.header-menu-items button{
    font-size: 1rem;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    border: none;
    font-family: 'Barlow', sans-serif;
    background-color: white;
    margin-top: -3%; 
}

.header-menu-items button:hover{
    background-color: rgba(255,255,255, 0.1);
    color: white;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.header-title{
    text-align: center;
    margin-top: 80px;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    font-size: 1.9rem;
}

.header-arrow-down img{
    width: 30px;
    
}
.header-arrow-down{
    text-align: center;
    margin-top: 60px;
}

/* CONFIGURAÇÕES PARA A HEADER, MENU E BG RESPONSIVO  */



@media (max-width:750px){
    
    header{
        position: relative;
        background-image: url('./images/mobile/image-header.jpg');
    }
    .header-menu{
        display: none;
    }
    .header-title{
        font-size: 1.5rem;
    }
    .hamburguer-menu{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 22px;
        width: 25px;
        cursor: pointer;
        margin: 43px;
        margin-right: 25px;
    }
    .hamburguer-menu span{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 10px;
        background-color:white;
    }

    #line-one{
        top:0;
    }
    #line-two{
        top:8px;
    }
    #line-three{
        top:16px;
    }

    .menu-mobile{
        display: none;
        position: absolute;
        background-color: white;
        width: 90vw;
        height: 60vh;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 5px;
        transition: 600ms ease-in-out;
    }
    .menu-mobile-items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
    }
    .menu-mobile-items li{
        font-family: 'Barlow', sans-serif;
        font-size: 1.3rem;
        color: hsl(232, 10%, 55%);
        cursor: pointer;
}
    .menu-mobile-items button{
        padding: 25px;
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        background-color: hsl(51, 100%, 49%);
        border:none;
        border-radius: 150px;
        font-family: 'Fraunces', serif;
        color:black;
        font-weight: 900;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
    }
}



/* CONFIGURAÇÕES DO CONTEÚDO PRINCIPAL DO SITE */

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.description{
    width: 100%;
    height: 100%;
    font-size: 3rem;
}

.products-images-mobile{
    display: none;
    
}

.products{
    background-color: whitesmoke
}
.products-images{
    width: 100%;
    height: 100%;
}


.box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-description{
    font-family: 'Fraunces', serif;
    max-width: 300px;
    font-size: 1.1rem;
}

.text-description h2{
    font-size: 1.9rem;
    margin-bottom: 30px;
    color: hsl(212, 27%, 19%);
}
.text-description p{
    margin-bottom: 30px;
    color:  hsl(232, 10%, 55%);
    line-height: 1.8rem;
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
}

#link-yellow{
    color:hsl(212, 27%, 19%);
    font-weight: bold;
    position: relative;
}

#link-yellow:after{
    content:"";
    background-color: hsl(51, 100%, 49%);
    height: 6px;
    width: 0%;
    position: absolute;
    left:0;
    bottom:-10px;
    border-radius: 10px;
}

#link-yellow:hover:after{
    width: 100%;
    transition: ease-in-out;
    transition-duration: 250ms;
}

#link-red{
    color:hsl(212, 27%, 19%);
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

#link-red:after{
    content:"";
    background-color:  hsl(7, 99%, 70%);
    height: 6px;
    width: 0%;
    position: absolute;
    left:0;
    bottom:-10px;
    border-radius: 10px;  
}

#link-red:hover:after{
    width: 100%;
    transition: ease-in-out;
    transition-duration: 250ms;
}

.products-description-bg1{
    background-image:url('./images/desktop/image-graphic-design.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.products-description-bg2{
    background-image: url('./images/desktop/image-photography.jpg');
    background-size:cover;
    display: flex;
    justify-content: center;
}

.text-description-bg{
    font-family: 'Barlow', sans-serif;
    color:  hsl(167, 40%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    width: 400px;
    padding: 30px;
    margin-top: 260px;
}

.text-description-bg h4{
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: hsl(167, 40%, 24%);
}

/* CONFIGURAÇÕES DO CONTEÚDO PRINCIPAL RESPONSIVO*/

@media (max-width:1030px){
    .products{
        display: flex;
        flex-direction: column;
    }

    .products-images{
        display: none;
    }

    .products-images-mobile{
        display: flex;
        width: 100%;
        height: 100%;
    }

    #image-one{
        order:-1;
    }

    #image-two{
        order:0;
    }

    .mobile-one{
        order:0;
        width: 100%;
        height: 100%;
    }

    .text-description{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .products-description-bg1{
        background-image: url('./images/mobile/image-graphic-design.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 550px;
    }
    .products-description-bg2{
        background-image: url('./images/mobile/image-photography.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 550px;
    }

    .text-description-bg{
        text-align: center;
    }
}

/* CONFIGURAÇÕES DA SESSÃO DE DEPOIMENTOS */

.testimonials{
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

.testimonials h3{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
    font-size: 1.3rem;
}

.testimonial img{
    border-radius: 100px;
    width: 70px;
}

.testimonial{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    margin: 20px;
    font-family: 'Barlow', sans-serif;
}

.testimonial p, .ocupation p {
    line-height: 1.5rem;
    color:hsl(213, 9%, 39%);
}

.ocupation h4{
    line-height: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.ocupation p{
    color: hsl(232, 10%, 55%);
    line-height: 2rem;
    font-size: 0.7rem;
}

/* CONFIGURAÇÕES DA SESSÃO DE DEPOIMENTOS RESPONSIVO */

@media (max-width:870px){
    .testimonials-container{
        display: flex;
        flex-direction: column;
    }
    .testimonial{
        margin:0;
        padding:0;
    }
}

/* CONFIGURAÇÕES DO FOOTER */

.images-container {
    width: 100%;
    height: 65vh;
    display: flex;
}
.images-container-mobile{
    display: none;
}

.images-container img{
    width: 100%;
    height: 100%;
}

.medias-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:  hsl(168, 29%, 59%);
    color: hsl(167, 40%, 24%);
    padding: 30px;
    font-family: 'Barlow', sans-serif;
}

.medias-container h3{
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
    margin-top: 30px;
}

.medias-container menu{
    display: flex;
}

.medias-container menu li{
    margin: 20px;
    font-weight: 300;
    opacity: 70%;
    margin-bottom: 90px;
    font-size: 1rem;
    cursor: pointer;
}

.medias-container menu li:hover{
    color:white;
}

.social-medias{
    margin-bottom: 15px;
}

.social-medias img{
    margin-right: 20px;
    cursor: pointer;
}

.social-medias img:hover{
    filter: brightness(2000%);
    transition: ease-in-out;
    transition-duration: 300ms;
}

/* CONFIGURAÇÕES DO FOOTER RESPONSIVO */

@media (max-width:1300px){
    .images-container-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .images-container{
        display: none;
    }
    .images-container-mobile img{
        width: 100%;
    }
}